<h1><a href="/"> Parrot Pandemonium </a></h1>

<h2>Q & A</h2>
<% if flash[:notice] %>
  <%=flash[:notice] %><br>
<% end %>
<% if !!session[:username] %>
  Welcome, <%= session[:username] %><br>

  <a href = "/messages/new"> Post a question </a><br>
<% else %>
  <a href = "/sessions/new"> Login </a><br>
<% end %>

<h1> Questions </h1>
<ul>
  <% @messages.reverse.each do |message| %>
    <li>
      <% user = User.find_by(id: message.user_id) %>
      <a href = "/messages/<%= message.id %>">
        <%= message.title %>
      </a><br>
      by <%= user.username %> on <%= message.created_at %><br>
      <%= message.body %><br>
    </li>
  <% end %>
</ul>
