<h1>Q & A</h1>
<% if flash[:notice] %>
  <%=flash[:notice] %><br>
<% end %>
<% if !!session[:username] %>
  Welcome, <%= session[:username] %><br>

  <a href = "/messages/new"> Post a question </a><br>
<% else %>
  <a href = "/sessions/new"> Login </a><br>
<% end %>

<% user = User.find_by(id: @message.user_id) %>
  <h2><%= @message.title %></h2>
<br>
<p>by <%= user.username %> on <%= @message.created_at %></p>
<p><%= @message.body %></p>
<%= form_with model: [@message, @message.replies.build] do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
